<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230308580029-nv6f0hgsh8jo14ad3lurjidvdhuagkmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230308580029-nv6f0hgsh8jo14ad3lurjidvdhuagkmv</string>
	<key>API_KEY</key>
	<string>AIzaSyCPT6uzQcg_siUu2Wwy7xZ_-VHZyz_3UKE</string>
	<key>GCM_SENDER_ID</key>
	<string>230308580029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlexanderSobolev.FireBase</string>
	<key>PROJECT_ID</key>
	<string>fir-d2e5e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-d2e5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230308580029:ios:cca4066338c18e5c03c5d4</string>
</dict>
</plist>